
<form (ngSubmit)="enterkey()">
  <div class="todocard">
    <input id="new-text" type="text" [(ngModel)]='this.inputMutter' name="inputMutter" placeholder=" mutter here... ">
    <button id="add-button" (click)="save()">+</button>
  </div>
</form>
  <div *ngFor="let item of items | async">
    <!--input type="text" [(ngModel)]='item.message' (ngModelChange)="changed(item,$event)"-->
    <!--input type="text" name='message' [(ngModel)]='item.message'-->
    <div class="todocard">
      <div class="message">
        {{item.mutter}},
        {{item.time}},
        {{item.position.longitude}},
        {{item.position.latitude}},
      </div>
      <div class="cross" (click)="delete(item.$key)">x</div>
    </div>
  </div>
<div>
</div>


<sebm-google-map [latitude]="inputLatitude" [longitude]="inputLongitude">
  <!--sebm-google-map-marker [latitude]="inputLatitude" [longitude]="inputLongitude"-->
    <sebm-google-map-info-window *ngFor="let item of items | async"
                                  [disableAutoPan]="true"
                                  [isOpen]="true"
                                  [latitude]="item.position.latitude"
                                  [longitude]="item.position.longitude"
                                  [zIndex]="item.time">
      <strong>
        {{item.username}}:
      </strong>
        {{item.mutter}}
    </sebm-google-map-info-window>
  <!--/sebm-google-map-marker-->
</sebm-google-map>
